

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-flex {
    display: flex;
}
@media (max-width:768px){
    .Scroll{
        overflow:scroll;
        height:600px;
        width:300px;
    }
} */

img{
    width: auto;
    max-width: 100%;
}
